<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Blog</title>
</head>
<header>
    <nav>
        <a href="/">Home</a>
        <a href="/author">Autor</a>
    </nav>
</header>
<h1>Blog</h1>
<div id="main-content">
    <%- body %>
</div>
<footer>
    <p>Desarrollado por Borja Vilallonga Tejela</p>
</footer>
</html>